.main-card {
    .buy-card {
        display: none;
    }
     :hover {
        .buy-card {
            display: block;
            margin-top: -120px;
        }
    }
}

.color {
    border-color: #ff9bb7 !important;
}

.selected-color {
    border-color: #d4013e !important;
}

.bag {
    background-color: white;
    border: 1px solid #d4013e !important;
    color: black;
}

.bag:hover {
    background-color: #d4013e;
    color: white;
}

.purchase {
    background-color: #d4013e;
    border: 1px solid #d4013e;
    color: white;
}